<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!-- The contents of this file don't matter. It's only here to trigger a checkstyle execution -->
<module name="Checker">

    <module name="TreeWalker">
        <module name="ImportControl"/>
    </module>
</module>
